.bg-my-blue-1{
	background-color:#1a53ff;
}
.text-my-blue-1{
	color:#1a53ff;
}
.btn-my-blue-1{
	background-color:#1a53ff;
}
.bg-my-blue-2{
	background-color:#3366ff;
}
.text-my-blue-2{
	color:#3366ff;
}
.btn-my-blue-2{
	background-color:#3366ff;
}
.bg-my-blue-3{
	background-color:#00004d;
}
.text-my-blue-3{
	color:#00004d;
}
.btn-my-blue-3{
	background-color:#00004d
}